# Ignore Visual Studio config files
.vs/
.vscode/ipch/

# Ignore Visual Studio debug location
x64/

# Ignore Visual Studio Solutions
*.sln

# Ignore Visual Studio Project Setup
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Ignore any executables generated as tests
*.exe
*.pck